body {
  margin: 0;
  font-size: 13px;
  font-weight: 400;
  font-family: "Segoe UI", "Segoe WP", Tahoma, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  outline: none !important;
  resize: none;
}

/* Style radio button when checked */
input[type="radio"]:checked {
  accent-color: #0c7a96;
}

.navbar-brand {
  font-weight: bold;
  text-transform: uppercase;
}

/* .nav-link:hover {
  color: #fff !important;
} */
.nav-underline .nav-link {
  color: #8a8a8a;
  font-weight: 500;
}

.nav-underline .nav-link.active, .nav-underline .show>.nav-link{
  color: #2193b0;
  /* font-weight: normal;
  padding: 5px 12px;
  border-radius: 4px;
  background: #2193b0 !important; */
}
.nav-underline .nav-link.active::after{
  position: absolute;
  width: 100px;
  height: 10px;
  top: 10px;
  bottom: 0px;
}

.title {
  color: #2193b0;
}
.reload {
  float: right;
  cursor: pointer;
}
.title2 {
  color: #fff;
  background: #2193b0;
}

.form-label {
  font-weight: 500;
}
.form-control{
  border: 0px;
  border-radius: 0px;
  border: 1px solid #b6e2ec;
}

.btn-primary{
  background: #2193b0;
  border: 0px;
}

.formAreaBg {
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  border-top: 1px solid #8be8fd;
}

.formarea {
  background: #fff;
  margin: 30px;
  padding: 30px;
  border-radius: 15px;
  border: 2px solid #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
